body{
	font: 30px 'arial';
	color: darkred;
}
h1{
	font: 70px 'Comic Sans MS';

}
span{
	color: black;
}
.foto{
	width: 350px;
}
.PHOTO{
    width: 600px; 
}
span{
	color:green;
}
.brother{
	width: 500px
}